@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
$small: 300px;
$medium: 900px;

* {
  box-sizing: border-box;
}

.background span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  main {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    max-width: 600px;
    width: 70%;

    @media screen and (min-width: $small) and (max-width: $medium) {
      width: 99%;
      //css code
    }

    .task-shelf {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
      }

      h2 {
        margin: 5px 10%;
      }

      i,
      span {
        margin: 5px 10% 5px 0;
      }

      .tasks {
        border-top: 1px solid gray;
      }

      .task-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .task-list:not(:last-of-type) {
        border-bottom: 1px solid gray;
      }

      .task-list div {
        width: 85%;
        display: flex;
        align-items: center;
        gap: 20px;
      }

      form {
        display: flex;
        justify-content: space-between;
      }

      input[type="submit"] {
        margin: 5px 10% 5px 0;
      }

      input {
        margin: 5px 0 5px 10%;
        border: none;
        height: 24px;
        // width: 95%;

        &:focus {
          outline: none;
        }
      }

      #taskGen {
        width: 100%;
      }

      label {
        width: 85%;
        flex-wrap: wrap;
      }

      label:read-write:focus {
        outline: none;
      }
    }
  }
}

.strike {
  text-decoration: line-through;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

//some changes
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  cursor: grab;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

// .start{
//   background-color:#EDEADE ;
// }

// .enter {
//   background-color: #ffe5b4;
// }

// .over{
//   background-color: #eedc82;
// }

// // .drop {

// // }

.clearall {
  height: 40px;
  width: 100%;
  display: flex;
  color: #333;
  justify-content: center;
  align-items: center;
  background-color: #bed2a5;
}

.clearall h2:hover {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #d7cde4;
  overflow: hidden;
  z-index: -1;
}

.background span:nth-child(0) {
  color: #e45a84;
  top: 84%;
  left: 33%;
  animation-duration: 24s;
  animation-delay: -37s;
  transform-origin: -17vw -6vh;
  box-shadow: 10vmin 0 1.5290608700823642vmin currentColor;
}

.background span:nth-child(1) {
  color: #583c87;
  top: 39%;
  left: 80%;
  animation-duration: 51s;
  animation-delay: -8s;
  transform-origin: -17vw 6vh;
  box-shadow: 10vmin 0 1.2946729293981227vmin currentColor;
}

.background span:nth-child(2) {
  color: #ffacac;
  top: 13%;
  left: 18%;
  animation-duration: 38s;
  animation-delay: -45s;
  transform-origin: 21vw 18vh;
  box-shadow: -10vmin 0 1.3970105753974125vmin currentColor;
}

.background span:nth-child(3) {
  color: #e45a84;
  top: 68%;
  left: 62%;
  animation-duration: 21s;
  animation-delay: -48s;
  transform-origin: 21vw 16vh;
  box-shadow: -10vmin 0 1.652121467716574vmin currentColor;
}

.background span:nth-child(4) {
  color: #583c87;
  top: 14%;
  left: 94%;
  animation-duration: 41s;
  animation-delay: -38s;
  transform-origin: -10vw -11vh;
  box-shadow: -10vmin 0 1.3820575687770964vmin currentColor;
}

.background span:nth-child(5) {
  color: #583c87;
  top: 57%;
  left: 59%;
  animation-duration: 44s;
  animation-delay: -49s;
  transform-origin: -13vw 21vh;
  box-shadow: 10vmin 0 1.4073696078689468vmin currentColor;
}

.background span:nth-child(6) {
  color: #e45a84;
  top: 3%;
  left: 63%;
  animation-duration: 44s;
  animation-delay: -37s;
  transform-origin: -13vw 17vh;
  box-shadow: -10vmin 0 1.6558371242846226vmin currentColor;
}

.background span:nth-child(7) {
  color: #e45a84;
  top: 73%;
  left: 94%;
  animation-duration: 21s;
  animation-delay: -8s;
  transform-origin: 11vw -1vh;
  box-shadow: -10vmin 0 1.3445607230497882vmin currentColor;
}

.background span:nth-child(8) {
  color: #583c87;
  top: 75%;
  left: 80%;
  animation-duration: 9s;
  animation-delay: -19s;
  transform-origin: 17vw 4vh;
  box-shadow: -10vmin 0 1.2599543642619708vmin currentColor;
}

.background span:nth-child(9) {
  color: #ffacac;
  top: 32%;
  left: 11%;
  animation-duration: 55s;
  animation-delay: -20s;
  transform-origin: 12vw 14vh;
  box-shadow: -10vmin 0 1.5426684852936203vmin currentColor;
}

.background span:nth-child(10) {
  color: #e45a84;
  top: 18%;
  left: 33%;
  animation-duration: 47s;
  animation-delay: -5s;
  transform-origin: -17vw -13vh;
  box-shadow: -10vmin 0 1.5568780082655167vmin currentColor;
}

.background span:nth-child(11) {
  color: #e45a84;
  top: 49%;
  left: 42%;
  animation-duration: 19s;
  animation-delay: -31s;
  transform-origin: -10vw -15vh;
  box-shadow: -10vmin 0 1.6244881422941384vmin currentColor;
}

.background span:nth-child(12) {
  color: #e45a84;
  top: 6%;
  left: 99%;
  animation-duration: 44s;
  animation-delay: -35s;
  transform-origin: -7vw 0;
  box-shadow: 10vmin 0 1.5608974013490005vmin currentColor;
}

.background span:nth-child(13) {
  color: #e45a84;
  top: 2%;
  left: 35%;
  animation-duration: 31s;
  animation-delay: -33s;
  transform-origin: -15vw 1vh;
  box-shadow: -10vmin 0 1.6256453750498956vmin currentColor;
}

.background span:nth-child(14) {
  color: #e45a84;
  top: 30%;
  left: 59%;
  animation-duration: 39s;
  animation-delay: -21s;
  transform-origin: 18vw 7vh;
  box-shadow: -10vmin 0 1.7937142836119246vmin currentColor;
}

.background span:nth-child(15) {
  color: #ffacac;
  top: 84%;
  left: 30%;
  animation-duration: 8s;
  animation-delay: -18s;
  transform-origin: -3vw 20vh;
  box-shadow: -10vmin 0 2.1082694926655714vmin currentColor;
}

.background span:nth-child(16) {
  color: #583c87;
  top: 81%;
  left: 54%;
  animation-duration: 7s;
  animation-delay: -38s;
  transform-origin: -4vw 10vh;
  box-shadow: -10vmin 0 1.986372289581031vmin currentColor;
}

.background span:nth-child(17) {
  color: #583c87;
  top: 78%;
  left: 96%;
  animation-duration: 32s;
  animation-delay: -43s;
  transform-origin: -18vw -19vh;
  box-shadow: 10vmin 0 1.8767182403440104vmin currentColor;
}

.background span:nth-child(18) {
  color: #e45a84;
  top: 1%;
  left: 80%;
  animation-duration: 22s;
  animation-delay: -22s;
  transform-origin: -18vw 21vh;
  box-shadow: -10vmin 0 1.6250526406849763vmin currentColor;
}

.background span:nth-child(19) {
  color: #ffacac;
  top: 35%;
  left: 16%;
  animation-duration: 24s;
  animation-delay: -12s;
  transform-origin: 9vw 23vh;
  box-shadow: 10vmin 0 1.9195710349999995vmin currentColor;
}
